*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.text{
    position: absolute;
    top: 30px;
    text-align: center;
    font-family:cursive;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #1ede6d;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ffcd00;
    box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                inset 0 0 15px yellow,
                inset 0 0 25px yellow;
    height: 350px;
    border-radius: 50%;
}
.box:hover{
    background: linear-gradient(180deg, #f33446,#ffcd00);
    box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                inset 0 0 15px #f33446,
                inset 0 0 25px #f33446;
}
.box::before{
    content: "";
    position: absolute;
    bottom: 180px;
    width: 210px;
    height: 100px;
    background: #b57700;
    border: 1.5px solid black;
    border-bottom-left-radius: 140px;
    border-bottom-right-radius: 140px;
    transition: 0.5s;
}
.box:hover::before{
    position: absolute;
    bottom: 250px;
    height: 30px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
.box .eye{
    position: relative;
    top: -40px;
    width: 120px;
    height:120px;
    display: inline-block;
    background-color: white;
    margin: 0 30px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                inset 0 0 15px yellow,
                inset 0 0 25px yellow;
}
.box .eye::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 35px;
    width: 45px;
    height:45px;
    background-color: black;
    border-radius: 50%;
    border: 10px solid #2196f3;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
}
