*{
    padding: 0;
    margin: 0;
}
.text{
    position: absolute;
    top: 30px;
    text-align: center;
    font-family:cursive;
    color: white;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: radial-gradient(#ff105e,#091921);
    /* #f2761e,#ef4921 */
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                inset 0 0 15px #ff105e,
                inset 0 0 25px #ff105e;
    height: 350px;
    border-radius: 50%;

}
.box .eye{
    position: relative;
    width: 120px;
    height:120px;
    display: block;
    background-color: white;
    margin: 0 30px;
    border-radius: 50%;
    box-shadow: 0 5px 45px rgba(0,0,0,0.2),
                inset 0 0 15px #ff105e,
                inset 0 0 25px #ff105e;
}
.box .eye::before{
    content: "";
    position: absolute;
    top: 50%;
    left: 35px;
    width: 45px;
    height:45px;
    background-color: black;
    border-radius: 50%;
    border: 10px solid #2196f3;
    box-sizing: border-box;
    transform: translate(-50%,-50%);
}